config fakehttp 'main'
	option enabled '0'
	option alliface '0'
	option inbound '1'
	option outbound '1'
	option ipv4 '1'
	option ipv6 '1'
	option queue_number '512'
	option repeat '2'
	option ttl '3'
	option fwmark '0x8000'
	option silent '0'
	option skip_firewall '0'
	option no_hop_estimation '0'
	option dynamic_pct '0'
